/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #A9A9A9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
  color: #000000;
}

p{
    font-family: 'Helvetica', sans-serif;
}

/*Global end*/
/*navigation bar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #000000;
  border-bottom: 1px #D3D3D3 solid;
}

.navbar a {
  color: #000000;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  transition: 0.6s;
}

.navbar a:hover {
  background: #000000;
  color: #ffffff;
  opacity: 1;
}

/*dropdown menu will be hidden, I might use it in the future if JS is allowed*/
.icon {
  display: none;
}

.fa-search {
  position: absolute;
  left: 70px;
}

.fa-shopping-cart {
  position: absolute;
  right: 70px;
}

/*navigation bar end*/
/*preheader logo*/
.preheader h1 {
  font-weight: lighter;
  letter-spacing: 5px;
}

.preheader {
  padding-bottom: 20px;
  padding-top: 20px;
}

/*favourites section*/
.favourites {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.favourites h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.favourites p {
  font-size: 23px;
}

/*favourites section end */
/* 2 Big images section*/
#big {
  display: flex;
  width: 90%;
  padding-top: 20px;
}

.imagebig {
  flex: 50%;
  padding: 0 15px;
}

/*Big image section end*/
/* 3 small images section*/
#small {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 20px;
}

.columnsmall {
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px;
}

/*individual images*/
.image1 {
  background: url(../images/img7.jpg)no-repeat top/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.image2 {
  background: url(../images/img3.jpg)no-repeat top/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.image3 {
  background: url(../images/img8.jpg)no-repeat center/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

/*description box for the image*/
.heading {
  background-color: #ffffff;
  width: 90%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 40px;
  outline: 1px solid #A9A9A9;
  /*border inside of the box*/
  outline-offset: -10px;
  overflow-y: hidden;
}

.heading h1 {
  color: #A9A9A9;
  font-weight: lighter;
  letter-spacing: 5px;
}

.heading p {
  color: #A9A9A9;
  margin-top: 15px;
  letter-spacing: 5px;
}

/*small image section end*/
/* 4 small images with headings section*/
.wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 15px;
  height: 600px;
}

.card {
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.card h5 {
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card img {
  width: 100%;
  height: 400px;
}

.black {
  color: #000000;
}

/*small sale icon*/
.sale {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #000000;
  webkit-animation: flash 5s infinite;
  animation: flash 5s infinite;
}

.sale p {
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* 4 small images with headings section end*/
/* footer menu*/
#footermenu {
  border-bottom: 1px #D3D3D3 solid;
  border-top: 1px #D3D3D3 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #D3D3D3;
  transition: 0, 7s;
}

#footermenu a {
  color: #A9A9A9;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  opacity: 0.6;
  transition: 0.7s;
}

#footermenu a:hover {
  background: #000000;
  color: #ffffff;
  opacity: 1;
}

/* end of the footer menu*/
/*footer*/
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #A9A9A9;
  padding-top: 50px;
}

footer {
  text-align: center;
}

footer h3 {
  font-weight: lighter;
  color: #A9A9A9;
  letter-spacing: 2px;
  padding-top: 30px;
}

footer h2 {
  font-weight: lighter;
  padding-top: 10px;
}

/* end of the footer*/
/*media queries*/
/*small screens*/
@media (max-width: 600px) {

  /*4 small images adjustement*/
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 5px;
  }

  /*4 small images adjustement end*/
  /* 2 big images responsive */
  .imagebig {
    flex: 100%;
    padding: 0; /*position images exactly in the middle once they become column*/
  }

  #big {
    display: flex;
    flex-direction: column;
  }

  /* 2 big images responsive end */
  /*navbar menu responsive */
  .navbar {
    display: flex;
    flex-direction: column;
  }

  /*navbar menu responsive end */
  /*footer menu responsive */
  #footermenu {
    display: flex;
    flex-direction: column;
  }

  /*footer menu responsive end */
  .card {
    margin-bottom: 40px;
  }
  /*navigation icons */
  .fa-search {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  .fa-shopping-cart {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  /*navigation icons end */
  /*3 small images*/
  #small {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 3px;
  }

  .columnsmall {
    flex: 100%;
    max-width: 100%;
    padding: 0px 0px 10px 0px;  /*position images exactly in the middle once they become column fix*/
  }
    /*3 small images end*/
}

/*medium screens */
@media (min-width: 600px) and (max-width: 900px) {

  /*3 small images with the description */
  #small {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
    margin: 0 -15px;
  }

  .columnsmall {
    flex: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: 15px;
  }

  .image1 {
    height: 500px;
  }

  .image2 {
    height: 500px;
  }

  .image3 {
    height: 500px;
  }

  .heading {
    height: 150px;
  }
  .image3{
      background: url(../images/img8.jpg)no-repeat top/cover;  /*tablet background bug fix*/
  }
  /*3 small images end */
  /*footer menu responsive */
  #footermenu {
    display: flex;
    flex-direction: column;
  }

  /*footer menu responsive end */
}

/*medium screens */
@media (min-width: 600px) and (max-width: 1200px) {

  /*icons, navigation bar*/
  .fa-search {
    position: absolute;
    top: 30px;
  }

  .fa-shopping-cart {
    position: absolute;
    top: 30px;
  }

  /*icons, navigation bar end*/
  /*4 small images adjustment*/
  .column {
    flex: 50%;
    max-width: 50%;
  }

  /*4 small images end*/
  /*Description headings*/
  .heading h1 {
    letter-spacing: 3px;
    font-size: 97%;
  }

  .heading p {
    letter-spacing: 3px;
    font-size: 97%;
  }

  /*Description headings end*/
}

/*i-phone 5, small screens*/
@media (max-width: 480px) {

  /*icons, navigation bar*/
  .fa-search {
    position: absolute;
    top: 100px;
  }

  .fa-shopping-cart {
    position: absolute;
    top: 100px;
  }

  /*icons, navigation bar end*/
  /*3 small images with description*/
  .image1 {
    height: 300px;
  }

  .image2 {
    height: 300px;
  }

  .image3 {
    height: 300px;
  }

  .heading {
    height: 130px;
  }

  .heading h1 {
    letter-spacing: 2px;
    font-size: 90%;
  }

  .heading p {
    letter-spacing: 2px;
    font-size: 90%;
  }

  /*3 small images with description end*/
}

/*extra large screen adjustment*/
@media (min-width: 1400px) {

  /*4 small images section, making them bigger for the big screen*/
  .card img {
    width: 100%;
    height: 500px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 15px;
    height: 700px;
  }
  /*4 small images section end*/

  /*3small images*/
  .image1 {
    height: 600px;
  }

  .image2 {
    height: 600px;
  }

  .image3 {
    height: 600px;
  }

  .heading {
    height: 200px;
  }
  /*3small images end*/
}
/*extra extra large screen adjustment, if you have this screen I am jealous*/
@media (min-width: 2560px) {

  /*4 small images section, making them bigger for the big screen*/
  .card img {
    width: 100%;
    height: 600px;
  }

  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 15px;
    height: 800px;
  }

  /*4 small images section end*/

  /*3 small images with description*/
  .image1 {
    height: 700px;
  }

  .image2 {
    height: 700px;
  }

  .image3 {
    height: 700px;
  }

  .heading {
    height: 250px;
  }

  .heading h1 {
    letter-spacing: 2px;
    font-size: 40px;
  }

  .heading p {
    letter-spacing: 2px;
    font-size: 30px;
  }
    /*3 small images end*/
}
