/*Global*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Helvetica', serif;
  font-size: 18px;
  line-height: 1.6;
  color: 	#A9A9A9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background:#ffffff;
  overflow: hidden;
  letter-spacing: 2px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #000000;
}

/*navigation bar*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #000000;
  border-bottom: 1px #D3D3D3 solid;
}

.navbar a {
  color: #000000;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  opacity: 0.9;
  transition: 0.6s;
}

.navbar a:hover {
  background: #000000;
  color: #ffffff;
  opacity: 1;
}

.icon{
  display: none;
}

.fa-search{
  position: absolute;
  left: 30px;
}
.fa-shopping-cart{
  position: absolute;
  right: 30px;
}

/*preheader logo*/

.preheader h1{
  font-weight: lighter;
  letter-spacing: 5px;
}

.preheader{
  padding-bottom: 20px;
  padding-top: 20px;
}


/*favourites section*/

.favourites {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.favourites h1 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: lighter;
}

.favourites p {
  font-size: 23px;
}

/*favourites section end */

/*Big image section*/

#big {
  display: flex;
  width: 90%;
  padding-top: 20px;
   margin:0 -15px;
}

.imagebig {
  flex: 50%;
   padding:0 15px;
}
/*Big image section end*/

/*small image section*/

#small{
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 20px;
   margin:0 -15px;
}

.columnsmall{
  flex: 33.3%;
  max-width: 33.3%;
  padding:0 15px;
}

/*individual images*/

.image1{
  background: url(../images/img7.jpg)no-repeat top/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.image2{
  background: url(../images/img3.jpg)no-repeat top/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.image3{
  background: url(../images/img8.jpg)no-repeat center/cover;
  background-color: #ffffff;
  height: 500px;
  width: 100%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

 /*description box for the image*/
.heading{
  background-color: #ffffff;
  width: 90%;
  height: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 40px;
  outline: 1px solid #A9A9A9;   /*border inside of the box*/
  outline-offset: -10px;
}

.heading h1{
  color: #A9A9A9;
  font-weight: lighter;
  letter-spacing: 5px;
}

.heading p{
  color: #A9A9A9;
  margin-top: 15px;
  letter-spacing: 5px;
}

/*small image section end*/

/* 4 small images with headings section*/

.wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 50px;
   margin:0 -15px;
}

.column{
  flex: 25%;
  max-width: 25%;
  padding:0 15px;
  height: 800px;
}

.card {
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.card h5{
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.card img{
  width: 100%;
  height: 500px;
}

.black{
  color: #000000;
}

/*small sale icon*/

.sale{
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  left: 0;
  border-radius: 50%;
  background: #000000;

}

.sale p{
  color: #ffffff;
  text-align: center;
  position: relative;
  top: 35px;
}

/* 4 small images with headings section end*/

/* footer menu*/
#footermenu{
  border-bottom: 1px #D3D3D3 solid;
  border-top: 1px #D3D3D3 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #D3D3D3;
    transition: 0,7s;
}

#footermenu a {
  color:#A9A9A9;
  padding: 14px 25px;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  opacity: 0.6;
  transition: 0.7s;
}

#footermenu a:hover {
  background: #000000;
  color: #ffffff;
  opacity: 1;
}
/* end of the footer menu*/

/*footer*/
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #A9A9A9;
  padding-top: 50px;
}

footer{
text-align: center;
}

footer h3{
  font-weight: lighter;
  color: #A9A9A9;
  letter-spacing: 2px;
  padding-top: 30px;
}

footer h2{
  font-weight: lighter;
  padding-top:10px;
}
/* end of the footer*/

/*media queries*/


/*small screens*/
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    height: 100%;
  }
  .imagebig {
    flex: 100%;
    padding-right: 1.5%;
  }
  #big {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  #footermenu{
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-bottom: 40px;
  }
  .fa-search{
    position: absolute;
    top: 30px;
  }
  .fa-shopping-cart{
    position: absolute;
    top: 30px;
  }
  #small{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 3px;
  }

  .columnsmall{
    flex: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: 8px;
  }
}

/*medium screens */
@media (min-width: 600px) and (max-width: 900px) {
  #small{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-top: 20px;
     margin:0 -15px;
  }
  .columnsmall{
    flex: 100%;
    max-width: 100%;
    padding-bottom: 10px;
    padding-right: 15px;
  }
}

/*medium screens */
@media (min-width: 600px) and (max-width: 1200px) {
  .fa-search{
    position: absolute;
    top: 30px;
  }
  .fa-shopping-cart{
    position: absolute;
    top: 30px;
  }
  .heading{
    background-color: #ffffff;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    outline: 1px solid #A9A9A9;   /*border inside of the box*/
    outline-offset: -10px;
  }
  .column{
    flex: 50%;
    max-width: 50%;
    padding:0 15px;
    height: 600px;
  }
  .wrapper {
    padding-bottom: 0px;
  }
  .heading h1{
    letter-spacing: 3px;
    font-size: 95%;
  }

  .heading p{
    letter-spacing: 3px;
    font-size: 95%;
  }
}

/*i-phone 5, small screens*/
@media (max-width: 480px) {
  .fa-search{
    position: absolute;
    top: 100px;
  }
  .fa-shopping-cart{
    position: absolute;
    top: 100px;
  }
}
